{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:unicorn/recommended",
    "plugin:sonarjs/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:jsdoc/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "overrides": [
    {
      "files": ["*.test.js"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "sonarjs/no-duplicate-string": "off",
        "sonarjs/prefer-single-boolean-return": "off"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    },
    "ecmaVersion": 2019,
    "sourceType": "module",
    "useJSXTextNode": true
  },
  "plugins": [
    "@typescript-eslint",
    "jsdoc",
    "prettier",
    "unicorn",
    "simple-import-sort",
    "import",
    "sonarjs",
    "react-hooks",
    "jsx-a11y"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "warn",
    "@typescript-eslint/no-var-requires": "off",
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "import/order": "warn",
    "jsdoc/check-tag-names": [
      "warn",
      {
        "definedTags": ["jsx"]
      }
    ],
    "jsdoc/require-jsdoc": "off",
    "jsdoc/require-param-description": "off",
    "jsdoc/require-returns": "off",
    "jsdoc/require-returns-description": "off",
    "jsdoc/valid-types": "off",
    "no-console": "off",
    "no-nested-ternary": "warn",
    "prettier/prettier": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/destructuring-assignment": "warn",
    "react/display-name": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx", ".tsx", "md", "mdx"]
      }
    ],
    "react/prop-types": "off",
    "simple-import-sort/sort": "warn",
    "sonarjs/cognitive-complexity": "warn",
    "sonarjs/no-duplicate-string": ["warn", 7],
    "sonarjs/no-identical-functions": "warn",
    "sonarjs/prefer-immediate-return": "off",
    "sort-imports": "off",
    "unicorn/no-abusive-eslint-disable": "off",
    "unicorn/prevent-abbreviations": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", "md", "mdx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
