{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "useJSXTextNode": true
  },
  "plugins": [
    "prettier",
    "simple-import-sort",
    "import",
    "react-hooks",
    "jsx-a11y",
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/ban-ts-comment": "warn",
    "import/first": "warn",
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "import/no-extraneous-dependencies": "warn",
    "import/order": "warn",
    "jsx-a11y/accessible-emoji": "warn",
    "jsx-a11y/anchor-has-content": "warn",
    "jsx-a11y/label-has-associated-control": "off",
    "no-console": "off",
    "no-nested-ternary": "warn",
    "no-param-reassign": "off",
    "prefer-const": "warn",
    "prettier/prettier": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/button-has-type": "warn",
    "react/destructuring-assignment": "warn",
    "react/display-name": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".js", ".jsx", ".tsx", "md", "mdx"]
      }
    ],
    "react/jsx-indent": "off",
    "react/jsx-key": "warn",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-children-prop": "warn",
    "react/prop-types": "off",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "sort-imports": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", "md", "mdx"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": [
    "node_modules/**",
    "*/**/public/**/*",
    "*/**/dist/**/*",
    "*/**/*.test.js"
  ]
}
