{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    },
    "ecmaVersion": 2019,
    "sourceType": "module",
    "useJSXTextNode": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", "md", "mdx"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
